*, *::after, *::before {
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

:root {
    --bckg-green: hsl(148, 38%, 91%);
    --main-green: hsl(169, 82%, 27%);
    --Red: hsl(0, 66%, 54%);
    --White: hsl(0, 0%, 100%);
    --text-grey: hsl(186, 15%, 59%);
    --hover-grey: hsl(187, 24%, 22%);
    --fs-base: 1rem; /* 16px - for labels*/


    --fs-h1: 2rem; /* 32px */
    --fs-question: 1rem; /* 16px */
}

@font-face {
    font-family: 'Karla';
    src: url('../assets/fonts/Karla-VariableFont_wght.ttf') format('truetype-variations');
    font-weight: 400 700; 
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Karla';
    src: url('../assets/fonts/Karla-Italic-VariableFont_wght.ttf') format('truetype-variations');
    font-weight: 400 700; 
    font-style: italic; 
  }

body {
    font-family: "Karla", sans-serif;
    font-weight: 400;
    background-color: var(--bckg-green);
    color: var(--text-grey);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap:10px; /* TBD */
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:20px; /* TBD */
    background-color: var(--White);
    width: 90vw;
    height: 90vh;
    padding:20px; /* TBD */
    border-radius: 20px; /* TBD */
}

h1,legend, label {
    color: var(--hover-grey);
    align-self: flex-start;
}

form {
    overflow: auto;
}

fieldset {
    border: none;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

input, textarea {
    width:100%;
    border-radius: 10px;
    line-height: 2;
    border: 1px solid var(--hover-grey);
    padding:10px;
    margin-top: 10px;
}

.required-error {
    visibility: hidden;
}

.invalid-error {
    visibility: hidden;
}

#queryTypeSection {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width:100%;
}

.radioElement {
    display: flex;
    flex-direction: row;
    border: 1px solid var(--hover-grey);
    width: 100%;
    border-radius: 10px;
    line-height: 2;
    padding:10px;
    margin-top: 10px;
}

.radioElement input {
    width:16px;
    border-radius: 0px;
    line-height: 1;
    border: 1px solid var(--text-grey);
    margin:0px 10px 0px 20px;
}

.consentElements {
    display: flex;
    flex-direction: row;
}

.consentElements input {
    width:16px;
    margin:0px 10px 0px 20px;
}

section {
    width: 100%;
}

#submit-button {
    color: var(--White);
    background-color: var(--main-green);
    border: none;
    border-radius: 10px;
    padding:20px;
    width: 100%;
    font-weight: 700;
    font-size: 1.5rem;
}



/* :required */

/* :focus */

/* :user-invalid */

/* @media (pointer: fine) {
  input[type="checkbox"] {
    width: 15px;
    height: 15px;
  }
}

// pointer device of limited accuracy, for example, a touch-based device
@media (pointer: coarse) {
  input[type="checkbox"] {
    width: 30px;
    height: 30px;
  }
}
  */


.attribution { font-size: 11px; text-align: center; color:var(--hover-grey)}
.attribution a { color: hsl(228, 45%, 44%); }