*, *::after, *::before {
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

:root {
    --bckg-green: hsl(148, 38%, 91%);
    --main-green: hsl(169, 82%, 27%);
    --Red: hsl(0, 66%, 54%);
    --White: hsl(0, 0%, 100%);
    --text-grey: hsl(186, 15%, 59%);
    --hover-grey: hsl(187, 24%, 22%);
    --fs-base: 1rem; /* 16px - for labels*/


    --fs-h1: 2rem; /* 32px */
    --fs-question: 1rem; /* 16px */
}

@font-face {
    font-family: 'Karla';
    src: url('../assets/fonts/Karla-VariableFont_wght.ttf') format('truetype-variations');
    font-weight: 400 700; 
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Karla';
    src: url('../assets/fonts/Karla-Italic-VariableFont_wght.ttf') format('truetype-variations');
    font-weight: 400 700; 
    font-style: italic; 
  }

body {
    font-family: "Karla", sans-serif;
    font-weight: 400;
    background-color: var(--bckg-green);
    color: var(--text-grey);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap:10px; /* TBD */
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:20px; /* TBD */
    background-color: var(--White);
    width: 95vw;
    padding:20px; /* TBD */
    border-radius: 20px; /* TBD */
}

h1 {
    color: var(--hover-grey);
    align-self: flex-start;
}

.required-error {
    visibility: hidden;
}

.invalid-error {
    visibility: hidden;
}

/* line-height */

/* :required */

/* :focus */

/* :user-invalid */

/* @media (pointer: fine) {
  input[type="checkbox"] {
    width: 15px;
    height: 15px;
  }
}

// pointer device of limited accuracy, for example, a touch-based device
@media (pointer: coarse) {
  input[type="checkbox"] {
    width: 30px;
    height: 30px;
  }
}
  */


.attribution { font-size: 11px; text-align: center; color:var(--hover-grey)}
.attribution a { color: hsl(228, 45%, 44%); }